html,
body {
  margin: 0;
  padding: 0;
  /* background-color: pink; */
}

/* main content */
.section1 {
  background-color: #f2f4f7;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 8rem;
 
}
.section1-div1 {
  width: 60%;
  height: 100%;
}
.section1-div1-upper {
  width: 100%;
  height: 50%;
  /* background-color: green; */
  padding: 3rem 3rem 0rem 5rem;
}
.section1-div1-upper1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.section1-div1-upper1 b,
.section1-div1-upper2 b {
  color: orange;
}
.section1-div1-lower {
  width: 100%;
  height: 50%;
}
.section1-div1-lower-form {
  width: 87%;
  height: 18rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px grey;
  margin: 0rem 3rem 0rem 5rem;
}
.section1-div1-lower-form1 {
  font-size: 1.8rem;
  text-align: start;
  font-weight: bolder;
  padding: 1rem 2rem 0rem 2rem;
  width: 100%;
  height: 30%;
  margin-bottom: 1rem;
}
.section1-div1-lower2 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.section1-div1-lower2-left {
  width: 80%;
  height: 100%;
  padding-left: 2rem;
}
.section1-div1-lower2-right {
  display: flex;
  width: 20%;
  height: 100%;
  padding-top: 5rem;
}
.section1-div1-lower2-form-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section1-div1-lower2-form-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.form {
  padding: 0.75rem 0rem 0.75rem 0rem;
  width: 100%;
}
.form input {
  width: 90%;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  border-style: none;
  border-bottom: 2px solid black;
}
.section1-div1-lower2-right button {
  width: 7rem;
  height: 3.75rem;
  background-color: rgb(44, 138, 46);
  border-radius: 0.5rem;
  align-self: center;
  margin-right: 1.5rem;
  text-wrap: wrap;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

/* section 2 */
.section1-div2 {
  width: 40%;
  height: 90vh;
}

.section1-div2 img {
  mix-blend-mode: multiply;
  transform: rotate(-20deg);
}
.section2 {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  padding: 2rem;
}
.section2-png {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.png {
  width: 10rem;
  height: 6rem;
  margin: 1rem;
  display: flex;
  /* padding: 1rem; */
}
.png img {
  mix-blend-mode: multiply;
  object-fit: cover;
  align-self: center;
}

/* section3 */
.section3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: yellow; */
}
.section3-left {
  width: 60%;
  /* background-color: pink; */
  padding: 2rem 3rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3-left-div {
  margin-bottom: 1.5rem;
}
.section3-left h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.section3-left p {
  margin-top: 1rem;
  font-size: 1.15rem;
}
.section3-right {
  width: 40%;
  height: 100%;
  padding: 5rem;
}
.section3-right li {
  font-size: 1.25rem;
  margin: 1rem 0rem 1rem 3rem;
  transition: 0.8s;
  text-decoration: none;
}
.section3-right li:hover {
  transform: scale(1.05);
  color: rgb(44, 138, 46);
  font-weight: 700;
  cursor: pointer;
}

/* section 4 */
.section4 {
  width: 100%;
  background-color: #f2f4f7;
}
.section4-div {
  padding: 2rem 5rem 2rem 5rem;
}
.section4-div h2 {
  font-size: 2rem;
  font-weight: bold;
}
.section4 b {
  color: rgb(44, 138, 46);
}
.section4-div-industry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}
.industry-item {
  align-items: center;
  align-self: center;
  width: 25rem;
  height: 3rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.section4-div-industry i {
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  color: orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  box-shadow: 1px 1px 2px grey;
}

/* section 5 */
.section5 {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  padding: 2rem 2rem 2rem 5rem;
  background: linear-gradient(to right, rgb(233, 173, 60), rgb(77, 194, 77));
}
.section5-div1 {
  width: 40%;
  padding-right: 5rem;
}
.section5-div1 h2 {
  font-size: 3rem;
  color: white;
}
.section5-div1 p {
  font-size: 1rem;
  color: white;
  margin-top: 2rem;
}
.section5-div2 {
  width: 60%;
  padding-left: 2rem;
  /* background-color: white; */
  height: 18rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}
.section5-div2-form {
  width: 90%;
  background-color: white;
  height: 19rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section5-div2-form-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section5-div2-form-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form2 input {
  width: 90%;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  border-style: none;
  border-bottom: 2px solid black;
  margin: 1rem 0rem 1rem 0rem;
}
.section5-div2-form-lower {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section5-div2-form-lower button {
  width: 15rem;
  height: 3rem;
  background-color: rgb(207, 207, 43);
  border-radius: 0.5rem;
  align-self: center;
  text-wrap: wrap;
  font-size: 1.15rem;
  color: white;
  font-weight: 700;
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .section1 {
    height: auto;
  }

  .section1-div1-upper {
    padding: 3rem 3rem 0rem 3rem;
  }
  .section1-div1-upper1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .section1-div1-upper2 {
    margin-bottom: 5rem;
  }
  .section1-div1-lower-form {
    margin-left: 2rem;
  }

  .section1-div1-lower-form1 {
    font-size: 1.3rem;
    text-align: start;
    font-weight: bolder;
    padding: 1rem 1rem 0rem 1rem;

    margin-bottom: 0 !important;
  }
  .section1-div1-lower2 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .section1-div1-lower2-left {
    width: 80%;
  }
  .section1-div1-lower2-right {
    display: flex;
    width: 80%;
    padding-top: 0.75rem;
  }

  .form {
    padding: 0.5rem 0rem 0.5rem 0rem;
    width: 100%;
  }
  .form input {
    width: 90%;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    border-style: none;
    border-bottom: 2px solid black;
  }
  .section1-div1-lower2-right button {
    width: 12rem;
    height: 3rem;
    background-color: rgb(44, 138, 46);
    border-radius: 0.5rem;
    align-self: flex-start;
    margin-left: 1rem;
    text-wrap: wrap;
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }
  .navbar-collapse{
  background-color: white;
  padding: 3rem;
  width: 100%;
  margin-left:0 !important ;

}
}

@media screen and (max-width: 1050px) {
  .section3-right {
    width: 50%;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .industry-item {
    width: 18rem;
  }
  .section5-div2 {
    height: 18rem;
    border-radius: 1rem;
  }
  .section5-div2-form {
    padding-top: 3rem;
  }
  .form2 input {
    width: 60%;
    height: 2.5rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: black;
    border-style: none;
    border-bottom: 2px solid black;
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
}

@media screen and (max-width: 750px) {
  .section1 {
    flex-direction: column;
  }
  .section1-div1 {
    width: 100%;
  }
  .section1-div1-lower {
    margin-bottom: 2rem;
  }
  .section1-div2 {
    display: none;
  }
  .png {
    height: 3rem;
    width: 7rem;
  }
  .section3 {
    flex-direction: column;
  }
  .section3-left {
    width: 100%;
    padding-bottom: 0rem;
    padding: 1rem 3rem 1rem 3rem;
  }
  .section3-left h2 {
    font-size: 1.8rem;
  }
  .section3-left div {
    margin-bottom: 0;
  }
  .section3-right {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }
  .section4-div {
    padding: 2rem 3rem 2rem 3rem;
  }
  .industry-item {
    width: 15rem;
  }
  .section5 {
    flex-direction: column;
    padding: 1rem 3rem 1rem 3rem;
  }
  .section5-div1 {
    width: 100%;
    padding: 0;
  }
  .section5-div2 {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }
  .section5-div2-form {
    height: 18rem;
    width: 100%;
  }
  .form2 {
    width: 100%;
  }
  .form2 input {
    width: 70%;
    height: 2rem;
  }
}

@media screen and (max-width: 430px) {
   
 .form {
    padding: 0.25rem 0rem 0.25rem 0rem;
    width: 100%;
  }
  .form{
     margin-right: 0.25rem;
     margin-left: 0;
  }
  .form label{
    font-size:0.75rem;
  }
  .form input {
    width: 90%;
    height: 1.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: black;
    border-style: none;
    border-bottom: 2px solid black;
   
  }
   .section1-div1-lower-form {
    margin:1rem 0rem 1rem 1.5rem
  }
   .section1-div1-lower-form1 {
   font-size: 1.1rem;
  }
}

/* navbar */
.nav{
  margin: 3rem 3rem 3rem 3rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: start;
  z-index: 10;
}
.navbar{
  width:85%;
  background-color: white !important;
  border-radius: 2rem;
 height: 6rem;
  padding-left: 1rem;
  
}
.collapse{
  margin-left: 7rem;
  
}
.container-fluid{
  background-color: white !important;
  height: 6rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}


@media screen and (max-width: 1330px) {

 .navbar-text{
  display: none;
 }
}